body {
  padding-top: 2.5em;
  line-height: 180%;
  /*font-size: 20px;
  font-weight: 100;*/
}

#footer {
  background-color: #191919;
  width: 100%;
  margin-top: 50px;
  color: white;
  margin 10em;
}

.parallax {
  text-align: center;
  font-size: 100%;
  color: white;
  letter-spacing: 1%;
  margin: 5% 0;
  background: url("nightsky.jpeg") fixed;
}
